.header {
   font-size: 40px;
   position: relative;
   top: 5px;
   left: 20px;
   color: white;
}

@media screen and (max-width: 960px) {
   .header {
      text-decoration: none;
      color: white;
      left: 60px;
      top: 50px;
      margin: 0;
      font-size: 30px;
   }
}
