* {
   margin: 0;
   padding: 0;
}
html,
body {
   margin: 0;
   /*    background: url('./components/Galerie/fotky/08_krepelka.jpg') left/auto
         no-repeat,
      url('./components/Galerie/fotky/08_krepelkaRight.jpg') right no-repeat;
   image-rendering: -webkit-optimize-contrast;
   background-size: 400px; */
   background-color: rgba(95, 235, 14, 0.03);
   margin-top: 50px;
}

.content {
   min-height: calc(100vh - 35px);
   padding: 0 0 0 0;
}

.footer {
   height: 144px;
}
@media screen and (max-width: 960px) {
   html,
   body {
      background: none;
   }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
